<!doctype html>
<html lang="{{ site.data.metadata.language }}" data-color-mode="dark" data-light-theme="light" data-dark-theme="dark_dimmed">

<head>
  <meta charset="utf-8">
  <title>{{ site.data.metadata.title }}</title>
  <meta name="description" content="{{ site.data.metadata.description }}">
  <meta property="og:title" content="{{ site.title }}">
  <meta property="og:description" content="{{ site.description }}">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://indiscover.me">
  <meta property="og:image" content="https://indiscover.me/assets/img/bannerthing.png">
  <meta property="og:image:width" content="1200">
  <meta property="og:image:height" content="630">

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="icon" href="/favicon.ico" type="image/x-icon">

  <link rel="stylesheet" href="assets/css/primer.css">
  <link rel="stylesheet" href="assets/css/custom.css">
  <link rel="stylesheet" href="assets/css/bootstrap-icons.css">
</head>

<body class="p-3">
  <main class="container-md">
    {% include profile.html %}
    {% include interests.html %}
    {% include links.html %}
    {% include footer.html %}
  </main>
</body>

</html>
